/* style.css for laidback */

html, body {
    font-size:13px;
}

a {color:#ff4e00;text-decoration:none;}
a:hover {color:#ff4e00;text-decoration:underline;transition-delay:0.3s;}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow:none;
  outline: 0 none;
}
input {background-color:transparent;}
/* font-size*/
.font-9 {font-size: 9px;}
.font-10 {font-size: 10px;}
.font-11 {font-size: 11px;}
.font-12 {font-size: 12px;}
.font-13 {font-size: 13px;}
.font-14 {font-size: 14px;}
.font-15 {font-size: 15px;}
.font-16 {font-size: 16px;}
.font-17 {font-size: 17px;}
.font-18 {font-size: 18px;}
.font-19 {font-size: 19px;}
.font-20 {font-size: 20px;}
.font-21 {font-size: 21px;}
.font-22 {font-size: 22px;}
.font-23 {font-size: 23px;}
.font-24 {font-size: 24px;}
.font-25 {font-size: 25px;}

.intro-wrap {
    width:100%;
    height:100vh;
    border-left:1.8rem solid #a6dafb;
    border-right:1.8rem solid #a6dafb;
    background-color:rgba(255,255,255,1);
}
.intro-wrap img {
    width:103px;
}
.login-wrap h1 {
    margin-bottom:3.5rem;
}
.login-wrap h1 img {
    width:103px;
}
.login-background {
    background: linear-gradient( to bottom, #ff9201, #ff5f00 );
}
.login-input {
    width: 100%;
    background-color:transparent !important;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
}

/* input Autocomplete styles in Chrome */

@-webkit-keyframes autofill {
    to {
        color: #fff;
        background-color:transparent !important;
    }
}
input.login-input:-webkit-autofill {
    -webkit-animation-name: autofill !important;
    -webkit-animation-fill-mode: both !important;
}

input.login-input:-webkit-autofill,
input.login-input:-webkit-autofill:hover,
input.login-input:-webkit-autofill:focus {
  border-bottom: 1px solid #fff;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}


.login-input::placeholder {
    color: #fff;
}

.p075rem {padding:0.75rem;}

.btn-h4 {
    height:40px;
    line-height:28px;
    font-weight:bold;
}
.btn {
    border-radius:10px;
}
.btn-link {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 15px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border:0px;
    border-bottom: 1px solid #ced4da;
    border-radius:0 !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-gr {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color:#f0f0f0;
    background-clip: padding-box;
    border: 1px solid #f0f0f0;
    border-radius:5px !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-signup {
    color: #fff;
    border-radius: 10px;
    background-color: #ff9150;
}

.btn-primary {
    color: #fff;
    background-color:#ff4e00;
    border-color:#ff4e00;
}
.btn-primary:hover {
    color: #fff;
    background-color:#ff4e00;
    border-color:#ff4e00;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255,78,0, 0.5);
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color:#ff4e00;
    border-color:#ff4e00;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color:#ff4e00;
    border-color:#ff4e00;
}

.btn-info {
    color: #fff;
    background-color:#00a7ff;
    border-color:#00a7ff;
}
.btn-info:hover {
    color: #fff;
    background-color:#00a7ff;
    border-color:#00a7ff;
}
.btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(0,167,255,1);
}
.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color:#00a7ff;
    border-color:#00a7ff;
}
.btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color:#00a7ff;
    border-color:#00a7ff;
}

.btn-before {
    color: #000;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}
.btn-before:hover {
    color: #000;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}
.btn-before:focus, .btn-before.focus {
    box-shadow: 0 0 0 0.2rem rgba(242,242,242,1);
}
.btn-before.disabled, .btn-before:disabled {
    color: #000;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}
.btn-before:not(:disabled):not(.disabled):active, .btn-before:not(:disabled):not(.disabled).active, .show > .btn-before.dropdown-toggle {
    color: #000;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}

.btn-charge {
    color: #000;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}
.btn-charge:hover {
    color: #fff;
    background-color:#ff4e00;
    border-color:#ff4e00;
}
.btn-charge:focus, .btn-charge.focus {
    box-shadow: 0 0 0 0.2rem rgba(242,242,242,1);
}
.btn-charge.disabled, .btn-charge:disabled {
    color: #000;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}
.btn-charge:not(:disabled):not(.disabled):active, .btn-charge:not(:disabled):not(.disabled).active, .show > .btn-charge.dropdown-toggle {
    color: #000;
    background-color:#f2f2f2;
    border-color:#f2f2f2;
}


.terms-box > div > label {
    font-weight:500;
}
.terms-box .terms-title {
    font-weight: 700;
}
/*
.terms-box .form-check-input {
	width: 25px !important;
	height: 25px !important;
	border-radius: 3px !important;
	border: solid 1px #707070;
}
*/
.form-control-textarea {
    width:100%;
    border-radius: 10px;
    background-color: #f7fbff;
    border:0px;
    font-size:12px;
    font-weight:normal;
    padding:10px;
}
.icon-bg-wrap {
    display: inline-block;
    width:30px;
    height:30px;
    border-radius:3px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    vertical-align:middle;
}
.facebook-img {
    background-image:url('../images/facebook.png');
}
.google-img {
    background-image:url('../images/google.png');
}
.other-login {
    display: inline-block;
    width:170px;
    text-align:left;
}
.span_tw {width:73px;}
.header-container a {
    color:#000000;
}
.header-container a:hover {
    color:#ff4e00;
    text-decoration:none;
}
.card-left {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border:0px !important;
    border-radius:10px !important;
    padding:20px;
    margin-bottom:0.75rem;
}
.card-left .btn-link {
    text-align:left;
}
.card-right {
    position: relative;
    display: block;
    /* display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; */
    min-width: 0;
    min-height:30px;

    border:0px !important;
    border-radius:10px !important;
    padding:10px 15px;
    /*margin-bottom:0.75rem;*/
}

.card-left-nav {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border:0px !important;
    padding: 50px 30px 30px 30px;
    margin-bottom:0.75rem;
    background-color:#f2f2f2;
}
.card-left-nav-follow {
    display: flex;
    flex-direction: row;
    padding: 17px 0 14px 0;
    font-weight: bold;
}
.card-left-nav-follow > div:first-child {
    flex-basis: 100px;
}
.card-left-nav-follow > div:last-child {
    padding: 0 20px;
    flex-grow: 1;
}
.card-left-nav2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border:0px !important;
    padding: 80px 30px 0 30px;
    align-items: baseline;
    color: #626262;
}

.pointer-clicker {
    cursor: pointer;
}

.main-container h3 {
    font-size:22px;
    font-weight:normal;
    margin-bottom:0.5rem;
    margin-top:-1px;
    padding:0;
    line-height:100%;
}
.main-container h5 {
    font-size:15px;
    font-weight:bold;
    margin-bottom:0.5rem;
    margin-top:20px;
}
.profile-cust {
    padding:0 0.75rem 0.75rem;
}
.profile-img {
    display: inline-block;
    width:100px;
    height:100px;
    border-radius:10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    vertical-align:middle;
    margin-right:20px;
    background-color:#dedede;
    cursor: pointer;
}
.right-profile-cust {
    padding:0;
}
.right-profile-img {
    display: inline-block;
    width:120px;
    height:120px;
    border-radius:5px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    vertical-align:middle;
    margin-right:13px;
}

/* sweetalert2 */
.swal2-popup {
    border-radius: 10px !important;
    max-width: 85% !important;
}
.swal2-title {
    margin-top: 40px !important;
    font-size: 17px !important;
    color: #000 !important;
    font-weight: bold !important;
}
.swal2-actions {
    margin: 0 !important;
}
.swal2-styled.swal2-confirm {
    border-radius: 10px !important;
    background-color: #ff4e00 !important;
    width: 100px !important;
    height: 40px !important;
}
.swal2-styled.swal2-cancel {
    border-radius: 10px !important;
    width: 100px !important;
    height: 40px !important;
}
.swal2-content {
    padding: 10px 0 33px 0 !important;
    display: flex !important;
    align-items: center !important;
    font-size: 15px !important;
}



/*sms button*/
.sms-btn {
    width: 70px;
    height: 40px;
    border-right: 10px;
}
.sms-btn.facebook-btn {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    background-color: #3a589e;
    color:#ffffff;
}
.sms-btn.google-btn {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-left: 0.5rem;
    background-color: #f4f4f4;
}

.login-btn {
    background-color: #ffffff;
    color: #ff4e00;
}
.login-text {
    line-height: 1.09;
    color: #ff0000;
}
.border-radius-10 {
    border-radius: 10px !important;
}
.border-radius-20 {
    border-radius: 20px !important;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #ff4e00;
    background-color: #ff4e00;
}
.switch {
    font-size: 1rem;
    position: relative;
}
.switch input {
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
}
.switch input + label {
    position: relative;
    min-width: calc(calc(2.375rem * .8) * 2);
    border-radius: calc(2.375rem * .8);
    height: calc(2.375rem * .8);
    line-height: calc(2.375rem * .8);
    display: inline-block;
    cursor: pointer;
    outline: none;
    user-select: none;
    vertical-align: middle;
    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(calc(2.375rem * .8) * 2);
    bottom: 0;
    display: block;
}
.switch input + label::before {
    right: 0;
    background-color: #dee2e6;
    border-radius: calc(2.375rem * .8);
    transition: 0.2s all;
}
.switch input + label::after {
    top: 2px;
    left: 2px;
    width: calc(calc(2.375rem * .8) - calc(2px * 2));
    height: calc(calc(2.375rem * .8) - calc(2px * 2));
    border-radius: 50%;
    background-color: white;
    transition: 0.2s all;
}
.switch input:checked + label::before {
    background-color: #ff4e00;
}
.switch input:checked + label::after {
    margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
    color: #868e96;
    cursor: not-allowed;
}
.switch input:disabled + label::before {
    background-color: #e9ecef;
}
.switch.switch-sm {
    font-size: 0.875rem;
}
.switch.switch-sm input + label {
    min-width: calc(calc(1.9375rem * .8) * 2);
    height: calc(1.9375rem * .8);
    line-height: calc(1.9375rem * .8);
    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
    width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
    width: calc(calc(1.9375rem * .8) - calc(2px * 2));
    height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
    margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
    font-size: 1.25rem;
}
.switch.switch-lg input + label {
    min-width: calc(calc(3rem * .8) * 2);
    height: calc(3rem * .8);
    line-height: calc(3rem * .8);
    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
    width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
    width: calc(calc(3rem * .8) - calc(2px * 2));
    height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
    margin-left: calc(3rem * .8);
}
.switch + .switch {
    margin-left: 1rem;
}
.profile-img-wrap {
    position: relative;
    width:120px;
    height:150px;
}
.profile-img-wrap input {
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:0;
}
.profile-img-wrap label {
    position: absolute;
    left:0;
    top:0;
    width:120px;
    height:120px;
    background-image: url('/assets/images/user-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    background-color:#dedede;
    border-radius:10px;
    z-index:0 !important;
}
.profile-img-wrap label > span {
    position: absolute;
    left:0;
    top:126px;
    width:120px;
    height:20px;
    text-align: center;
    font-weight:500;
}
.profile-img-wrap {
    width:120px;
    height:150px;
    border-radius:10px;
    overflow: hidden;
}
.profile-img-wrap label > div {
    position: absolute;
    left:0;
    top:0;
    width:120px;
    height:120px;
    border-radius:10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    z-index:1000 !important;
}
.profile-bgimg-wrap {
    position: relative;
    width:120px;
    height:230px;
    margin-top:20px;
}
.profile-bgimg-wrap input {
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:0;
}
.profile-bgimg-wrap label {
    position: absolute;
    left:0;
    top:0;
    width:120px;
    height:200px;
    background-image: url('/assets/images/bg-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:85%;
    background-color:#dedede;
    border-radius:10px;
    z-index:0 !important;
}
.profile-bgimg-wrap label > span {
    position: absolute;
    left:0;
    top:206px;
    width:120px;
    height:20px;
    text-align: center;
    font-weight:500;
    z-index:0;
}
/* .profile-bgimg-wrap img {
    width:120px;
    height:200px;
    border-radius:10px;
} */

.profile-bgimg-wrap label > div {
    position: absolute;
    left:0;
    top:0;
    width:120px;
    height:200px;
    border-radius:10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    z-index:1000 !important;
}


.follo-img {
    width:50px;
    height:50px;
    background-image: url('/assets/images/user-shape.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    border:1px solid #cccccc;
    background-color:#dddddd;
    border-radius:50%;
}

.point-card-wrap {
    width:100%;
    height:200px;
    background-image: url('/assets/images/706@3x.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:100%;
    padding:50px 1rem 1rem 1rem;
    color:#ffffff;
    margin-bottom:5px;
}

.plus-pay-img {
    width:50px;
    height:50px;
    background-image: url('/assets/images/plus-sign.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:50%;
    border:1px solid #00a7ff;
    background-color:#00a7ff;
    border-radius:50%;
}

.point-history-img {
    width:50px;
    height:50px;
    background-image: url('/assets/images/coin-stack.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:50%;
    border:1px solid #ff4e00;
    background-color:#ff4e00;
    border-radius:50%;
}
.point-history-img-before {
    width:50px;
    height:50px;
    background-image: url('/assets/images/coin-stack.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:50%;
    border:1px solid #868e96;
    background-color:#868e96;
    border-radius:50%;
}

.point-donation-img {
    width:50px;
    height:50px;
    background-image: url('/assets/images/plus-sign.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:50%;
    border:1px solid #ff00d8;
    background-color:#ff00d8;
    border-radius:50%;
}

.link-black {
    padding:1rem;
}
.link-black a {
    display: block;
    padding:5px 20px;
    text-align:center;
    color:#000;
    font-size:14px;

}
.link-black a:hover {
    color:#666666;
}


.schedule-list-wrap {
    max-height:245px;
    overflow-y:auto;
    background-color:#efefef;
    border-radius:10px;
    margin-bottom:15px;
    padding:20px;
}
/*.schedule-list-box {*/
/*    margin-bottom:15px;*/
/*}*/
.schedule-list-box > div {
    font-size:12px;
    color:#ff4e00;
    font-weight:bold;
    line-height:1.6rem;
}
.schedule-list-box > h6 {
    font-size:12px;
    color:#000000;
    font-weight:bold;
    line-height:1.6rem;
    margin:0;
}
.schedule-list-box > p {
    font-size:12px;
    color:#000000;
    font-weight:300;
    line-height:1.6rem;
    margin:0;
}



.calendar, .calendar_weekdays, .calendar_content {
    max-width: 100%;
}
.calendar {
    margin:0;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #ff4e00;
}
/*.calendar_content div.selected {*/
    /*background-color: #f0f0f0;*/
/*}*/
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ff4e00;
    float:left;
    width:70%;
    margin: 0 0 10px;
}
.calendar_header button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    transition: color .2s;
}
.calendar_header button.switch-month:hover {
    color: #ff4e00;
}
.badge-mooorr {
    color:#fff !important;
    background-color: #ff4e00;
}

a.msg-box {
    margin-bottom: 1.5rem !important;
}
a.msg-box:hover {
    text-decoration:none;
}
.maspro-img {
    position: relative;
    width:50px;
    min-width:50px !important;
    height:50px;
    background-image: url('/assets/images/user-shape.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    border:1px solid #cccccc;
    background-color:#dddddd;
    border-radius:50%;
}
.maspro-img > span.user-online {
    position: absolute;
    top:0;
    right:0;
    width:12px;
    height:12px;
    background-size:100%;
    border:1px solid #ffffff;
    background-color:#ff4e00;
    border-radius:50%;
}
.maspro-img > span.user-offline {
    position: absolute;
    top:0;
    right:0;
    width:12px;
    height:12px;
    background-size:100%;
    border:1px solid #ffffff;
    background-color:#777777;
    border-radius:50%;
}
a.msg-box.msg-box-new > div > .nick-asd {
    color:#ff4e00;
    font-size:12px;
    font-weight:300;
    line-height:1.6;
    margin:0;
}
a.msg-box.msg-box-new > div > h6 {
    color:#000000;
    font-size:12px;
    font-weight:bold;
    line-height:1.6;
    margin:0;
}
a.msg-box.msg-box-new > div > p {
    color:#666666;
    font-size:10px;
    font-weight:300;
    line-height:1.6;
    margin:0;
}

a.msg-box > div > .nick-asd {
    color:#666666;
    font-size:12px;
    font-weight:300;
    line-height:1.6;
    margin:0;
}
a.msg-box > div > h6 {
    color:#666666;
    font-size:12px;
    font-weight:bold;
    line-height:1.6;
    margin:0;
}
a.msg-box > div > p {
    color:#666666;
    font-size:10px;
    font-weight:300;
    line-height:1.6;
    margin:0;
}

.chat-box {
    margin-top:15px;
    margin-bottom:25px;
}

.chat-box > div > .nick-asd {
    color:#000;
    font-size:12px;
    font-weight:300;
    line-height:1.6;
    margin:0;
}
.chat-box > div > p {
    color:#ffffff;
    font-size:12px;
    font-weight:normal;
    line-height:1.6;
    margin:5px 0 0 0;
    background-color:#ff4e00;
    border-radius:15px;
    padding:10px;
}
.chat-box > div > .user-chat-tag {
    background-color:#000000;
    border-radius:20px;
    padding:7px 10px;
    margin-top:10px;
}
.chat-box > div > .user-chat-tag span {
    color:#ffffff;
    margin-right:5px;
}
.chat-box > div > .point-info {
    margin-top:10px;
    background-color:#626262;
    border-radius:10px;
    color:#ffffff;
    display: block !important;
    width:100%;
    padding:7px 10px;
    text-align: center;
}
.chat-box > div > .msg-date {
    color:#666666;
    font-size:10px;
    font-weight:normal;
    line-height:1.6;
    padding:5px;
}

.chat-box-my {
    margin-top:15px;
    margin-bottom:25px;
}
.chat-box-my > div > p {
    color:#000000;
    font-size:12px;
    font-weight:normal;
    line-height:1.6;
    margin:5px 0 0 0;
    background-color:#f2f2f2;
    border-radius:15px;
    padding:10px;
}
.chat-box-my > div > .msg-date {
    color:#666666;
    font-size:10px;
    font-weight:normal;
    line-height:1.6;
    padding:5px;
}

.card-right-tag {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 0px !important;
    border-radius: 10px !important;
    padding: 10px;
    margin-bottom: 0.75rem;
    background-color: rgba(255,255,255,0.5);
}

#interests_content span {
    padding:4px 10px;
    border-radius:8px;
    margin-right:3px;
    margin-bottom:0px;
    display: inline-block;
}
.profile_notice_form .note-editor.note-frame {
    width:100%;
    max-width:621px;
    border:#ddd solid 1px;
}
.profile_notice_form .note-editable {
    width:100%;
}


input.flag-ipt[type=checkbox] { display: none; }
input.flag-ipt[type=checkbox] + label {
    display: inline-block;
    cursor: pointer;
    line-height:28px;
    padding-bottom:28px;
    background: url('/assets/images/uncheck.png') no-repeat ;
    background-position:bottom center;
    background-size:28px 28px;

}
input.flag-ipt[type=checkbox]:checked + label {
    background-image: url('/assets/images/check.png');
}
input.flag-ipt[type=checkbox] + label > img {
    width:100%;
}
input.flag-ipt[type=checkbox] + label > div {
    text-align:center;
    font-size:10px;
    line-height:12px;
}
.sns-icon-wrp img {width:32px;}

.note-editable { background-color: #f7fbff; color: white; }

.btn-edit {
    opacity: 0.9;
    background-color: #f2f2f2;
}

.btn-done {
    color: #fff;
    opacity: 0.9;
    background-color: #8bbed9;

}

.left-sidenav {
    height:100%;
    width: 0;
    position: fixed;
    z-index:2;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition:0.3s ease-in-out;
}

.left-sidenav-profile {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

/*.pm-count {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    position: absolute;*/
/*    right: 15px;*/
/*    text-align: center;*/
/*    color: #fff;*/
/*    border: 2px solid #fff;*/
/*    border-radius: 100%;*/
/*    background-color: #ff4e00;*/
/*}*/

.notice-body {
    margin-bottom:30px;
    padding-bottom:15px;
    border-bottom:1px solid #dfdfdf;
    text-align:left;
}
.notice-body > h5 {
    font-size:16px;
    font-weight:bold;
}
.notice-body > div {
    font-size:14px;
    font-weight:normal;
    margin:10px 0;
    text-align:left;
}
.notice-body > h6 {
    font-size:12px;
    font-weight:normal;
    color:#999999;
}
.notice-body img {
    max-width:100%;
}
.notice-body p {
    text-align:left !important;
}

.faq-body {
    margin-bottom:30px;
    padding-bottom:15px;
    border-bottom:1px solid #dfdfdf;
    text-align:left;
}
.faq-body > h5 {
    font-size:16px;
    font-weight:bold;
}
.faq-body > div {
    font-size:14px;
    font-weight:normal;
    margin:10px 0;
    text-align:left;
}
.faq-body img {
    max-width:100%;
}
.faq-body p {
    text-align:left !important;
}


.help-body {
    margin-bottom:30px;
    padding-bottom:15px;
    border-bottom:1px solid #dfdfdf;
    text-align:left;
}
.help-body > h5 {
    font-size:16px;
    font-weight:bold;
}
.help-body > div {
    font-size:14px;
    font-weight:normal;
    margin:10px 0;
    text-align:left;
}
.help-body > div > span {
    font-size:12px;
    font-weight:normal;
    color:#999999;
}
.help-body img {
    max-width:100%;
}
.help-body p {
    text-align:left !important;
}


.header-nav-btn {
    position: fixed;
    top:45px;
    left: 0;
    width: 3rem;
    height: 3rem;
    z-index: 2;
}

.report-box-in {
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.6;
    margin: 5px 0 0 0;
    background-color: #ff4e00;
    border-radius: 15px;
    padding: 10px;
}

.chat-room-count {
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    background-color: #ff4e00;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 15px;
}

.ellipsis {
    max-width: 119px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btn-charge-active {
    color: #fff;
    background-color:#ff4e00;
    border-color:#ff4e00;
}

.logo-white-sm {
    width:24px;
    margin-top:-3px;
    margin-right:10px;
}

.g-signin2 > div {
    border-radius:10px;
    height:38px !important;
    box-shadow:none;
}
.emblem-wrap {
    position: relative;
    width:100px;
    text-align:center;
}
.emblem-wrap .batge_star_dsp {
    position: absolute;
    top:6.5px;
    left:0px;
    width:8px;
    height:8px;
}
.emblem-wrap .batge_dsp {
    width:12px;
    height:12px;
    margin:1px;
}


#travel_content .profile-img {
    display: none !important;
}

.follow-wrap h3 {color:#999999;}
.follow-wrap .active h3 {color:#000000;}

.background-link {
    background-size: 25px 18px;
    background-repeat: no-repeat;
}
.itemBox {
    width: 100%;
    height: 100px;
}
.itemBoxHighlight {
    width:100%;
    height: 100px;
    background-color:#ddd;
}
#notice_content > p {
    text-align: left;
}
.detail-content-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* 2019.11.29 수정 css 추가사항 */
.favorite_content_body > a {
    margin-bottom:0.75rem !important;
}

.lightbox .lb-image {
    border:0 !important;
}

/* 2019.12.16 수정 css 추가사항 */
/*main share popup*/
.share-modal {
    overflow-x: scroll !important;
    width: calc(100% + 20px) !important;
    white-space: nowrap;
    margin-left: -10px !important;
    -ms-overflow-style: none;
    margin-bottom: 35px;
}
.share-modal::-webkit-scrollbar { width: 0 !important }
.share-modal { -ms-overflow-style: none; }
.share-modal { overflow: -moz-scrollbars-none; }

.share-modal-box {
    width: 100%;
    height: auto;
    position: relative;

}
.share-modal-box > button {
    border-radius: 50%;
    border: none;
    height: 100%;
    width: 50px;
}
.share-modal-box > button:first-child {
    margin-left: 10px;
}
.share-modal-box > button:last-child {
    margin-right: 10px;
}
.loginLogo {
    width: 57px;
    height: 52.6px;
}
.myProfileEdit > h5 > img {
    width: 16px;
    cursor: pointer;
}
.shadow{
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

/* 2019.12.26*/
.profile-msg-box {
    max-width:450px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

/* 2019.12.27*/
.notice_content_p > p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.profile_notice_form .note-editor.note-frame .note-editable > p {
    margin-bottom: 0;
}
#infoUserContent > p {
    text-align: left !important;
}